@font-face {
	font-family: googleNoto;
	src: url(fonts/NotoSerif-Regular.ttf, fonts/NotoSerif-Bold.ttf, fonts/NotoSerif-Italic.ttf, fonts/NotoSerif-BoldItalic.ttf);
}	
html {
	background-color: black;
	text-color: white;
	font-family: googleNoto, sans-serif;
}