@font-face {
	font-family: googleNoto;
	src: url(fonts/NotoSansUI-Regular.ttf);
}	
html {
	background-color: black;
	font-family: googleNoto, sans-serif;
}

h1 {
	color: white;
}

h3 {
	color: #00ffff;

header {
	text-align : center;
	height: 50px;
	border-bottom: 5px;
	border-bottom-color: #00ffff;
}