@font-face {
	font-family: googleNoto;
	src: url(fonts/NotoSansUI-Regular.ttf);
}	
html {
	background-image: url(/Images/background.jpg);
	font-family: googleNoto, sans-serif;
}

body {
	margin: 0px;
}

