@font-face {
	font-family: googleNoto;
	src: url(fonts/NotoSansUI-Regular.ttf);
}	
html {
	font-family: googleNoto, sans-serif;
}

body {
	/*background: url(/Images/background.jpg) no-repeat center center fixed;
	background-size: cover;*/
	margin: 0px;
}

.title{
	position: relative;
	/*display: inline;*/
	left: 40px;
}

/***.title {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}***/

.menu {
	display: inline;
}

#slideshow {
	width: 80%;
	height: 400px;
	margin: 0px;
}